{% extends "base.html" %}

{% block content %}
<div class="p-3 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body text-center">
                        <h2>Check Your Email</h2>
                        <hr />
                        <p>We've emailed you instructions for resetting your password.</p>
                        <p>If you don't receive an email soon, please check your spam folder.</p>

                        <div class="text-center mt-3">
                            <a href="{% url 'accounts.login' %}" class="btn bg-dark text-white">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
