.bg-index {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: 100% auto;
}

/* Navbar link color */
.navbar a.nav-link {
    color: #FFFEF6 !important;
}

/* Dark navbar background */
.bg-dark {
    background-color: #2E2E2E !important;
}

.ms-footer {
    background-color: black;
}
.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}
.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom span {
    font-size: 13px;
    line-height: 38px;
}
.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom a:hover {
    color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

